<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.QingHuiXiang.UNOProject">
	
	<application>
    <!--android:name= 后的这个名字必须与Android 中.jar写的类名一致 -->
        <activity android:name="com.QingHuiXiang.UNOProject.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				
                <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
		  
		<meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
      </application>
</manifest>