EPPClient/Library
EPPFClient/Assets/EasyPrivatePersonTools/EPPBase/Editor/EPPToolsSettingAsset.asset
EPPFClient/ProjectSettings/
EPPFServer/.vs/
EPPFServer/EPPFramework/obj/
EPPFServer/GameServerConsole/obj/
EPPFServer/GameServerConsole/bin/
EPPFClient/Temp/
EPPFClient/.vs/
